body {
  font-family: sans-serif;
  text-align: center;
  background: #111;
  color: white;
  margin: 0;
  padding: 0;
}

video, canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  border-radius: 10px;
}

#emotion {
  margin-top: 480px;
  font-size: 1.5rem;
}
 .btn-atras {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}  