
body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
  
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: auto;
    margin-bottom: 44px;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  
  button {
    padding: 24px;
    border-radius: 4px;
    cursor: pointer;
  }
  .img-container img {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 4px;
  }
  .welcome-button {
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: -webkit-fill-available;
    border-radius: 25px;
  }
  
  body { font-family: sans-serif; text-align: center; padding: 20px; }
  #modal {
    display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7); justify-content: center; align-items: center;
  }
  #modal-content {
    background: #fff; padding: 20px; border-radius: 8px; position: relative;
    max-width: 90%; width: 300px;
  }
  #modal img { width: 100%; border-radius: 8px; }
  #close-btn { position: absolute; top: 10px; right: 10px; cursor: pointer; }
  label, input, select { display: block; margin: 5px auto; }